@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

                                   /* topbar */

.top-bar{
    height: 50px;
    background-image: url(./images/asset\ 28.png);
    background-size: 300px;
    background-color: #E74694;
}
.top-bar-text{
    margin: auto;
}
.top-bar-text > p{
    color: white;
    text-align: center;
    padding-top: 10px;
} 

                                      /* navbar */

nav{
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-img{
    height: 60px;
}
.nav-img > a >img{
    height: 45px;
}
nav >ul{
   display: flex;
   gap: 30px;
   align-items: center;
}
nav > ul > li{
    list-style-type: none;
} 
nav > ul > li > a{
    text-decoration: none;
    color: black;
    font-weight: 400;
}
.nav-btn{
    height: 50px;
    width: 90px;
    border: 1px solid #2294ED;
    background-color: white;
    border-radius: 10px;
    transition: 0.5s;
}
.nav-btn:hover{
    background-color: #2294ED;
    color: white;
}
.nav-btn1{
    height: 50px;
    width: 90px;
    color: white;
    border: none;
    background-color:#2294ED ;
    border-radius: 10px;
    transition: 0.5s;
}
.nav-btn1:hover{
    background-color: white;
    color: black;
    border: 1px solid #2294ED;
}

/* media query */

@media screen and (max-width:1024px){
        .nav-img{
            height: 50px;
        }
        .nav-img > a >img{
            height: 35px;
        }
        nav > ul{
            gap: 20px;
            font-size: 14px;
        }
        .nav-btn{
            height: 45px;
            width: 80px;
            font-size: 14px;
        }
        .nav-btn1{
            height: 45px;
            width: 80px;
            font-size: 14px;
        }
        nav > ul > li > a{
            font-size: 16px;
        }
}
@media only screen and (max-width:800px){
    .top-bar{
        height: 40px;
    }
    .top-bar-text > p{
        font-size: 14px;
    }
    .nav-img{
        height: 40px;
    }
    .nav-img > a >img{
        height: 25px;
    }
    nav > ul{
        gap: 10px;
    }
    nav > ul > li > a{
        font-size: 14px;
    }
    .nav-btn{
        height: 35px;
        width: 70px;
        font-size: 12px;
    }
    .nav-btn1{
        height: 35px;
        width: 70px;
        font-size: 12px;
    }
}
@media only screen and (max-width:600px){
    .top-bar-text > p{
        font-size: 12px;
    }
    .nav-img{
        height: 45px;
    }
    .nav-img > a >img{
        height: 20px;
    }
    nav > ul{
        gap: 10px;
    }
    nav > ul > li > a{
        font-size: 12px;
    }
    .nav-btn{
        height: 30px;
        width: 60px;
        font-size: 12px;
    }
    .nav-btn1{
        height: 30px;
        width: 60px;
        font-size: 12px;
    }
}
@media only screen and (max-width:500px){
    .top-bar-text > p{
        font-size: 10px;
    }
    .nav-img{
        height: 30px;
    }
    .nav-img > a >img{
        height: 20px;
    }
    nav > ul{
        gap: 10px;
    }
    nav > ul > li > a{
        font-size: 10px;
    }
    .nav-btn{
        height: 25px;
        width: 50px;
        font-size: 10px;
    }
    .nav-btn1{
        height: 25px;
        width: 50px;
        font-size: 10px;
    }
}


/* section1 */

.content{
    padding-bottom: 50px;
}
.content >h1{
    color: #183B56;
}
.content > p{
    position: relative;
    top: 15px;
}
.content-btn{
    height: 50px;
    width: 180px;
    color: white;
    border: none;
    background-color:#2294ED ;
    border-radius: 10px;
    position: relative;
    top: 25px;
    transition: 0.5s;
}
.content-btn:hover{
    background-color: white;
    color: black;
    border: 1px solid #2294ED;
}
.content-img{
    height: auto;
}
.content-img > img{
    height: 100%;
    width: 100%;
    padding-top: 10px;
    margin: auto;
}

/* section2 */

.content2{
    height: auto;
    margin: auto;
    margin-top: 90px;
}
.content2 >img{
    height: 45px;
   margin: auto !important;
   margin-left: 25px !important;
}

/* section3 */

.section3-img{
    height: auto;
    position: relative;
    top: 50px;
    background-image: url(images/asset\ 29.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 800px;
    padding-top: 20px;
    margin-bottom: 20px;
}
.section3-img > h4{
    text-align: center;
    font-weight: 800;
    padding-top: 100px;
}
.content3-btn{
    height: 50px;
    width: 180px;
    border: 1px solid #2294ED;
    background-color: transparent;
    border-radius: 10px;
    transition: 0.5s;
    margin-top: 10px;
}
.content3-btn:hover{
    background-color: #2294ED;
    color: white;
}
.con3-icon{
    color: #2294ED;
    transition: 0.5s;
}
.content3-btn:hover > .con3-icon{
    color: white;
}
.box{
    height: auto;
    margin-bottom: 20px;
    margin-top: 30px;
}
.boxes-distance{
    height: 250px;
    width: 99%;
    margin-top: 30px;
}
.boxes-distance > center > img{
    height: 50px;
    margin-top: 20px;
}
.boxes-distance > center > h5{
    text-align: center;
    padding-top: 15px;
    font-weight: 800;
}
.boxes-distance > center > p{
    text-align: center;
}
.content3-btn1{
    height: 40px;
    width: 160px;
    border: 1px solid #2294ED;
    background-color: transparent;
    border-radius: 10px;
    transition: 0.5s;
}
.content3-btn1:hover{
    background-color: #2294ED;
    color: white;
}
.con3-icon{
    color: #2294ED;
    transition: 0.5s;
}
.content3-btn1:hover > .con3-icon{
    color: white;
}

/* section-4 */

.section4{
    height: auto;
    margin-top: 80px;
    margin-bottom: 30px;
}
.section4-column{
    height: auto;
    margin-top: 50px;
}
.section4-column > img{
    height: 95%;
    width: 90%;
}
.section4-column >h5{
    padding-top: 20px;
}
.section4-column >h3{
    padding-top: 25px;
    font-size: 26px;
    color: #183B56;
    font-weight: 700;
}
.section4-column > p{
    padding-top: 15px;
    padding-right: 100px;
    font-size: 18px;
}
.section4-column >h4{
    color: #183B56;
    font-weight: 600;
    padding-top: 15px;
}
.para-img{
    background-image: url(./images/asset\ 30.svg);
    background-repeat: no-repeat;
    background-size: 300;
}
.para-img>p{
    padding: 25px;
    padding-right: 100px;
    font-size: 18px;
}
.section4-human{
    height: auto;
    display: flex;
    gap: 15px;
    align-items: center;
}
.section4-img{
    height: 80px;
    width: 80px;
    clip-path: circle(50%);
    margin-left: 20px;
    background-size: cover;
}
.section4-text > p{
   color: black;
   line-height: 4px;
   padding-top: 5px;
}

/* section7 */

.section7{
    height: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}
.section7-container > h4{
    text-align: center;
    padding-top: 20px;
    color:#183B56 !important;
    font-weight: 700;
}
.section7-column{
    height: 300px;
    margin-top: 50px !important;
}
.column-distances{
    height: 300px;
    width: 99%;
    background-color: black;
    overflow: hidden;
    position: relative;
}
.column-distances > img{
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
.column-distances:hover > img{
    transform: scale(1.1);
    opacity: 50%;
    cursor: pointer;
}
.column-distances > h5{
    position: absolute;
    bottom: 15px;
    padding: 10px;
    color: white;
    opacity: 0;
}
.column-distances:hover > h5{
    opacity: 100%;
    cursor: pointer;
}

                                /* section8 */

.section8{
    height: auto;
    background-color: #183B56;
    padding-bottom: 80px;
}
.section8-columns{
    height: auto;
    margin-top: 60px !important;
}
.section8-columns > h2{
    color: white;
    font-weight: 700;
    padding: 5px;
}
.section8-columns > p{
    color: #AEC3D6;
    padding: 20px 100px 0px 0px;
    
}
.section8-columns > h3{
    color: white;
    font-weight: 600;
    padding: 10px 0px 0px 5px ;
}
.section8-flexbox{
    height: auto;
    display: flex;
    gap: 10px;
}
.left{
    color:  #AEC3D6;
    padding-top: 10px;
}
.right{
    color:  #AEC3D6;
    padding-top: 10px;
}
.section8-btn{
    height: 50px;
    width: 230px;
    color: white;
    border: 1px solid #2294ED;
    background-color: #2294ED;
    border-radius: 10px;
    margin-top: 20px;
    transition: 0.5s;
}
.section8-btn:hover{
    color: white;
    background-color: transparent;
    border: 1px solid #2294ED;
}
.section8-btn1{
    height: 50px;
    width: 230px;
    color: white;
    border: 1px solid #2294ED;
    background-color: transparent;
    border-radius: 10px;
    margin-top: 40px;
    transition: 0.5s;
}
.section8-btn1:hover{
    color: white;
    background-color: #2294ED;
    border: 1px solid #2294ED;
}
.section8-columns > span{
    color: #AEC3D6;
    padding: 10px;
    font-size: 18px;
}
.section8-columns-right{
    height: 500px;
    margin-top: 40px !important;
    background-image: url(./images/asset\ 29.svg), url(./images/asset\ img.png);
    background-size: 20vw 38vh, 90% 99%;
    background-repeat: no-repeat;
    background-position: center;
}
.section8-columns-right > p{
   text-align: center;  
   position: relative;
   top: 220px;
   line-height: 10px !important;
   font-size: 14px;
}
.section9-container {
    height: auto;
    padding-bottom: 50px;
}
.section9-container > h4{
    text-align: center;
    padding-top: 100px;
    color: #183B56;
    font-weight: 700;
}
.section9-container > h6{
    text-align: center;
    padding-top: 10px;
}
.section9-btn{
    height: 50px;
    width: 140px;
    color: white;
    border: 1px solid #2294ED;
    background-color: #2294ED;
    border-radius: 10px;
    margin-top: 25px;
    transition: 0.5s;
}
.section9-btn:hover{
    color: white;
    background-color: transparent;
    border: 1px solid #2294ED;
}

/* footer */

.footer-containerfluid{
    height: auto;
    background-color: #EBF2FA;
    margin-top: 30px !important;
    padding-bottom: 50px;
}
.footer-column{
    height: auto;
    margin-top: 80px !important;
}
.footer-column > img{
    width: 100%;
    padding-top: 10px;
}
.footer-column > h5{
    padding:20px 0px 0px 25px;
    font-weight: 700;
}
.footer-column > ul{
    list-style-type: none;
    line-height: 40px;
}
.design{
    height: 80px;
    background-color: #B9CDE4;
}
.design > .container > h4{
    text-align: center;
    padding-top: 20px;
    color: #183B56;
    font-weight: 700;
}
